.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner {
    margin-top: 20px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.categories {
    margin-top: 20px;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
